<!DOCTYPE html>
<html lang="en">
<body>

My name is {{Name}}

<!--     with     -->
{% with firstname="Hafsa20" %}
  <h1>Hello {{firstname}}, how are you? {# Everyone#} </h1><br>
{% endwith %}

<!--     autoescape     -->
{% autoescape off %}
  <h1>{{ heading }}</h1>
{% endautoescape %}

<!--     ifchanged     -->
<ul>
  {% for z in mylist %}
    {% ifchanged %}
      <li>{{ z }}</li>
    {% endifchanged %}
  {% endfor %}
</ul>


<!--     if else      -->
{% if Id <= 40 %}
  <h2>{{Name}}{{Id}}</h2>
{% elif Id <= 50 %}
  <h2>{{Id}}{{Name}}</h2>
{% else %}
  <h2>Invalid</h2>
{% endif %}
</body>
</html>